# this file is used for deployment, and use docker-compose.override.yml for local development
services:
    fraud-api:
        image: fraud-detection:v1
        command: ["uvicorn", "api.main:app", "--host", "0.0.0.0", "--port", "8000"]
        ports:
            - "8000:8000"
        container_name: fraud_api_v1
        restart: unless-stopped
        healthcheck:
            test: ["CMD", "curl", "-f", "http://localhost:8000/health"]
            interval: 30s
            timeout: 10s
            retries: 3
            start_period: 30s
            start_interval: 5s
        deploy:
            resources:
                limits:
                    cpus: '1.0'
                    memory: 2048M
                reservations:
                    memory: 512M
        security_opt:
            - no-new-privileges:true
        logging:
            driver: "json-file"
            options:
                max-size: "10m"
                max-file: "3"
        environment:
            - LOG_LEVEL=info
