# this file is used for deployment, and use docker-compose.override.yml for local development
services:
    fraud-api:
        image: fraud-detection:v1
        container_name: fraud_api_v1
        restart: unless-stopped
        healthcheck:
            test: ["CMD", "curl", "-f", "http://localhost:8080/health"]
            interval: 30s
            timeout: 10s
            retries: 3
            start_period: 30s # enough time for the model to load
            start_interval: 5s
        
        # resource limits to prevent the container from consuming too much CPU or memory, which could affect other services
        deploy:
            resources:
                limits:
                    cpus: '1.0'
                    memory: 2048M
                reservations:
                    memory: 512M
        
        # good practice to run as non-root user for security, even though the image should already be set up that way
        security_opt:
            - no-new-privileges:true

        # prevent errors from filling up the disk
        logging:
            driver: "json-file"
            options:
                max-size: "10m"
                max-file: "3"

        environment:
            - LOG_LEVEL=info
        
        # we don't need to expose the port to the host since it's only accessed by other services in the same network
        # ports:
        #     - "8080:8080"